*{
    margin: 0;
    padding: 0;
}

a{
    font-size: 16px;
    text-decoration: none;
}

li{
    list-style: none;
}


.container{
    width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    height: 100px;
    background-color: rgb(246, 209, 41)
}

.navi{
    display: flex;
    padding-top: 35px;
}

.main_logo{
    padding-right: 550px;
}

.mainNav{
    display: flex;
}

.subNav{
    background-color: lightgoldenrodyellow;
}

.subNav ul{
    display: flex;
}

.subNav li{
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    
}

.mainNav li{
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
}

/* nav end */

.section{
    width: 1200px;
    height: 300px;
    background-color: lightpink;
}



.slide_warp{
    width: 1200px;
    height: 300px;
    background-color: seagreen;
    overflow: hidden;
}


/* section end */


.content{
    width: 1200px;
    height: 200px;
    background-color: slateblue;
    display: flex;
}

.notice{
    width: 400px;
    background-color: lightgray;
}

.banner{
    width: 400px;
    background-color: springgreen;
}

.go{
    width: 400px;
    background-color: lightgreen;
}

.n_t ul{
    display: flex;
}

.n_t li{
    width: 80px;
    height: 30px;
    padding: 20px;
}

.n_txt{
    padding-left: 20px;
}

.n_txt li{
    padding: 3px;
}

.gallery{
    padding-left: 20px;
    display: none;
}

.gallery ul{
    display: flex;
}

.gallery li{
    padding: 10px;
}


/* content end */



footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: lightgoldenrodyellow
}

.end{
    display: flex;
    justify-content: space-between;
}

.end_logo{
    padding-top: 30px;
}

.end_txt{
    padding-top: 35px;
}

.end_sns{
    padding-top: 20px;
}

.end_sns ul{
    display: flex;
}

.end_sns li{
    padding: 5px;
}